<h1>Template Driven Form</h1>
<div class="container well well-lg">
    <form class="row g-3 needs-validation" novalidate #exampleForm="ngForm"> 
        <div class="col-md-6">
          <label for="firstName" class="form-label">First name</label>
          <input type="text" class="form-control" id="firstName" name="firstName" 
          [(ngModel)]="user.firstName"  #firstName="ngModel" maxlength="15"  minlength="2" required>
          <small *ngIf="hasError(firstName)" [class]="hasError(firstName) ? 'has-error' :''">
            <div *ngIf="firstName.errors">
                <span *ngIf="firstName.errors.required">First Name is a required field</span>
                <span *ngIf="firstName.errors.minlength">First Name is a min 2 char long field</span>
                <span *ngIf="firstName.errors.maxlength">First Name is a max 16 char long field</span>
            </div>
          </small>
        </div>
        <div class="col-md-6">
          <label for="lastName" class="form-label">Last name</label>
          <input type="text" class="form-control" id="lastName" [(ngModel)]="user.lastName"  
          name="lastName" maxlength="15"  minlength="2" required    #lastName="ngModel" required>
           <small *ngIf="hasError(lastName)" [class]="hasError(lastName) ? 'has-error' :''">
            <div *ngIf="lastName.errors">
                <span *ngIf="lastName.errors.required">Last Name is a required field</span>
                <span *ngIf="lastName.errors.minlength">Last Name is a min 2 char long field</span>
                <span *ngIf="lastName.errors.maxlength">Last Name is a max 16 char long field</span>
            </div>
          </small>
        </div>
        <div class="col-md-6">
          <label for="userName" class="form-label">Username</label>
          <div class="input-group has-validation">
            <input type="text" class="form-control" id="userName" aria-describedby="inputGroupPrepend"  name="userName"
            [(ngModel)]="user.userName"  #userName="ngModel"  maxlength="10"  minlength="5" required>
          </div>
          <small *ngIf="hasError(userName)" [class]="hasError(userName) ? 'has-error' :''">
            <div *ngIf="userName.errors">
                <span *ngIf="userName.errors.required">User Name is a required field</span>
                <span *ngIf="userName.errors.minlength">User Name is a min 5 char long field</span>
                <span *ngIf="userName.errors.maxlength">User Name is a max 10 char long field</span>
            </div>
          </small>
        </div>
        <div class="col-md-6">
          <label for="city" class="form-label">City</label>
          <input type="text" class="form-control" id="city" name="city" [(ngModel)]="user.city"  #city="ngModel" required>
          <small *ngIf="hasError(city)" [class]="hasError(city) ? 'has-error' :''">
            <div *ngIf="city.errors">
                <span *ngIf="city.errors.required">City Name is a required field</span>
                <span *ngIf="city.errors.minlength">City Name is a min 5 char long field</span>
                <span *ngIf="city.errors.maxlength">City Name is a max 10 char long field</span>
            </div>
          </small>
        </div>
        <div class="col-md-6">
          <label for="state" class="form-label">State</label>
          <select class="form-select" id="state" name="state" [(ngModel)]="user.state"  #state="ngModel" required>
            <option selected disabled value="">Choose...</option>
            <option value="NY">New York</option>
            <option value="LA">Los Angeles</option>
            <option value="CH">Chicago</option>
            <option value="HT">Houston</option>
          </select>
          <small *ngIf="hasError(state)" [class]="hasError(state) ? 'has-error' :''">
            <div *ngIf="state.errors">
                <span *ngIf="state.errors.required">Sate Name  selection is a required field</span>
            </div>
          </small>
        </div>
        <div class="col-md-6">
          <label for="zipcode" class="form-label">Zip</label>
          <input type="text" class="form-control" id="zipcode" name="zipcode" [(ngModel)]="user.zipcode" 
           #zipcode="ngModel" minlength="6" maxlength="6"  required>
          <small *ngIf="hasError(zipcode)" [class]="hasError(zipcode) ? 'has-error' :''">
            <div *ngIf="zipcode.errors">
                <span *ngIf="zipcode.errors.required">Zipcode is a required field</span>
                <span *ngIf="zipcode.errors.minlength">Zipcode is a min 5 char long field</span>
                <span *ngIf="zipcode.errors.maxlength">Zipcode is a max 6 char long field</span>
            </div>
          </small>
        </div>
        <div class="col-md-6">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" name="agree" [(ngModel)]="user.agree"  #agree="ngModel" required>
            <label class="form-check-label" for="invalidCheck">
              Agree to terms and conditions
            </label>
            <small *ngIf="hasError(agree)" [class]="hasError(agree) ? 'has-error' :''">
                <div *ngIf="agree.errors">
                    <span *ngIf="agree.errors.required">agreeis a required field</span>
                </div>
              </small>
          </div>
        </div>
        <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button" (click)="submitForm(exampleForm)">Submit form</button>
        </div>
      </form>
</div>
